<h1>app1</h1>

<div class="container">
  <p>app1项目图片</p>
  <!--
    直接使用相对路径的资源地址(../assets/chopper-app1.jpg)的话，会直接到基座项目的assets文件夹下面去找。
    可以通过基座系统配置反向代理解决(main/proxy.conf.json)。
    此处地址用(/app1/assets/chopper-app1.jpg)。
    基座项目启动时，将反向代理配置加上(ng serve --port=7400 --proxyConfig=proxy.conf.json)
  -->
  <img src="/app1/assets/chopper-app1.jpg" />
</div>
<div class="container">
  <p><b>接口响应: </b>{{ apiMsg }}</p>
</div>

<div class="routes">
  <!-- 页面跳转只能使用routerLink，不能使用href，会使页面刷新 -->
  <a routerLink="lazy">去懒加载的子模块</a>
</div>

<router-outlet></router-outlet>
